[submodule "src/dependencies/catalyst"]
	path = src/dependencies/catalyst
	url = https://github.com/decentraland/catalyst
[submodule "src/dependencies/kernel"]
	path = src/dependencies/kernel
	url = https://github.com/decentraland/kernel
[submodule "src/dependencies/decentraland-rpc"]
	path = src/dependencies/decentraland-rpc
	url = https://github.com/decentraland/decentraland-rpc
[submodule "src/dependencies/unity-renderer"]
	path = src/dependencies/unity-renderer
	url = https://github.com/decentraland/unity-renderer
[submodule "src/dependencies/doom-test"]
	path = src/dependencies/doom-test
	url = https://github.com/doomling/doom-test
