[submodule "dependencies/kernel"]
	path = src/dependencies/kernel
	url = https://github.com/decentraland/kernel
[submodule "dependencies/catalyst"]
	path = src/dependencies/catalyst
	url = https://github.com/decentraland/catalyst
