.side-menu {
  min-width: 250px;
  max-width: 350px;
  background-color: #fff;
}

@media (max-width: 900px) {
  .side-menu {
    margin-top: 8px;
    position: fixed;
    left: -1000px;
    height: 100%;
    width: 100%;
    border-top: 1px solid var(--divider);
  }

  .side-menu.open {
    left: 0;
  }
}
