.tree-item-name {
  padding: 10px 15px;
  cursor: pointer;
  max-width: 300px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #000;
}

.tree-item-name:hover {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.03);
  font-weight: 500;
}

.tree-children-wrapper {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}

.collapsed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.caret {
  height: 10px;
  padding: 0 10px;
  transition: all 0.1s ease-in-out;
}

.caret.open {
  display: inline-block;
  transform: rotate(90deg);
  transition: all 0.1s ease-in-out;
}
